<div class="container">
    <div *ngIf="(innovatorService.innovator$ | async) && implementation.innovator && (innovatorService.innovator$ | async).id === implementation.innovator.id" class="row">
        <div class="col">
            <div class="float-right" style="margin-top:15px;margin-bottom:15px">
                <button class="btn btn-primary" type="button" (click)="editImplementation()">Edit Implementation</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="name">
            {{implementation.name}}
        </div>
    </div>
        
    <div class="row">
        {{implementation.description}}
    </div>

    <div class="row">
        <div class="innovator" *ngIf="implementation.innovator">
            <a [routerLink]="['/innovator', implementation.innovator.id]">
                {{implementation.innovator.displayName}}
            </a>
        </div>
        <div *ngIf="!implementation.innovator">
            <button class="btn btn-primary" type="button" (click)="claimOwnership()">Claim Ownership</button>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let product of implementation.products">
            <a href="{{product.url}}" target="_blank">
                {{product.url}}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-light my-2 my-sm-0" style="text-transform: none;" type="button" (click)="postVote(true)">i++</button>
        </div>
        <div class="col">
            <div class="votes">
                {{implementation.votes}}
            </div>
        </div>
        <div class="col">
            <button class="btn btn-light my-2 my-sm-0" style="text-transform: none;" type="button" (click)="postVote(false)">i--</button>
        </div>
    </div>

    <div class="row">
        <ul class="list-group">
            <div class="recommendation" *ngFor="let recommendation of implementation.recommendations">
                <div>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2 text-center">
                                <div class="row">
                                    <div class="col">
                                        <a mat-button (click)="postRecommendationVote(recommendation, true)">i++</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{recommendation.votes}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a mat-button (click)="postRecommendationVote(recommendation, false)">i--</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="editedRecommendation !== recommendation">
                                    <div class="row">
                                        <div class="col">
                                            {{recommendation.message}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-right">
                                            {{recommendation.dateTimeCreated}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-right">
                                            <a [routerLink]="['/innovator', recommendation.innovator.id]">
                                                {{recommendation.innovator.displayName}}
                                            </a>
                                        </div>
                                    </div>
                                    <div *ngIf="(innovatorService.innovator$ | async) && (innovatorService.innovator$ | async).id === recommendation.innovator.id" class="row">
                                        <div class="col">
                                            <a mat-button (click)="openEdit(recommendation)">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="editedRecommendation === recommendation">
                                    <form (ngSubmit)="postRecommendation(editRecommendationForm)">
                            
                                        <mat-form-field appearance="fill">
                                            <textarea matInput [formControl]="editRecommendationForm.controls.message"></textarea>
                                        </mat-form-field>
                            
                                        <div class="row">
                                            <div class="col">
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                            <div class="col">
                                                <button mat-flat-button color="secondary" type="button" (click)="cancelEditRecommendtion()">Cancel</button>
                                            </div>
                                        </div>
                            
                                    </form>
                                </div>
                                <div class="reply" *ngFor="let reply of recommendation.replies">
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                            {{reply.message}}
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" [attr.id]="'reply' + recommendation.id">
                                    <div class="row">
                                        <div class="col">
                                            <form (ngSubmit)="postReply(replyForm, recommendation)">
                                    
                                                <mat-form-field appearance="fill">
                                                    <textarea matInput [formControl]="replyForm.controls.message"></textarea>
                                                </mat-form-field>
                                    
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-primary" type="submit" data-toggle="collapse" [attr.data-target]="'#reply' + recommendation.id">Submit</button>
                                                    </div>
                                                </div>
                                    
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a class="btn" data-toggle="collapse" [attr.data-target]="'#reply' + recommendation.id">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>

    <div class="row">
        <form (ngSubmit)="postRecommendation(recommendationForm)">

            <mat-form-field appearance="fill">
                <textarea matInput [formControl]="recommendationForm.controls.message"></textarea>
            </mat-form-field>

            <div class="col">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>
