<div class="container d-flex align-self-stretch justify-content-center" style="margin-top:50px">

    <form (ngSubmit)="onSubmit(ideaForm.value)">

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label for="summary">Summary</mat-label>
                <input matInput [formControl]="ideaForm.controls.summary">
                <mat-error *ngIf="ideaForm.controls.summary.hasError('required')">
                    Summary is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label for="description">Description</mat-label>
                <textarea matInput [formControl]="ideaForm.controls.description"></textarea>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label for="categories">Categories</mat-label>
                <mat-select [formControl]="ideaForm.controls.categories" multiple>
                    <mat-option *ngFor="let category of categoryOptions" [value]="category">{{category.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="ideaForm.controls.categories.hasError('required')">
                    At least 1 category is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col">
            <form (ngSubmit)="addCategory(categoryForm.value)">
                <mat-form-field appearance="fill">
                    <mat-label for="otherCategory">Other Category</mat-label>
                    <input matInput [formControl]="categoryForm.controls.name">
                </mat-form-field>
                <button mat-mini-fab color="primary" type="submit" [disabled]="!newCategoryIsValid()">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
        </div>

        <div class="col">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>
