.name {
    font-size: 30px;
    margin-top: 15px;
}

.votes {
    font-size: 15px;
    margin-top: 5px;
}

.recommendation {
    margin-top: 15px;
}

.list-group {
    width: 100%;
}

.message {

}

.recommendation-footer {

}

.date-time-created {
    display: inline-block;
}

.display-name {
    display: inline-block;
    float: right;
}

.full-width {
    width: 100%;
}

form {
    margin-top: 45px;
    width: 100%;
}

form > mat-form-field {
    width:100%;
}