<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{implementation.name}}
        </mat-card-title>
        <mat-card-subtitle routerLink="/innovator/{{implementation.innovator.emailAddress}}">{{implementation.innovator.emailAddress}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{implementation.description}}
    </mat-card-content>
    <mat-card-actions>
        Products:
        <div *ngFor="let product of implementation.products">
            <a href="{{product.url}}">{{product.url}}</a>
            <div>{{product.description}}</div>
        </div>
    </mat-card-actions>
</mat-card>