<div class="container-fluid">
    <div class="row">

        <div class="col-sm">
            Ideas
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let idea of ideas">
                    <div class="left-container">
                        <div class="votes">
                            <div>
                                Votes
                            </div>
                            <div>
                                {{idea.votes}}
                            </div>
                        </div>         
                    </div>
                    <div class="right-container">
                        <div class="summary">
                            <a [routerLink]="['/idea', idea.id, idea.summary]">{{idea.summary}}</a>
                        </div>
                        <div class="categories">
                            <div class="category" *ngFor="let category of idea.categories">
                                {{category.name}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm">
            Implementations
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let implementation of implementations">
                    <div class="left-container">
                        <div class="votes">
                            <div>
                                Votes
                            </div>
                            <div>
                                {{implementation.votes}}
                            </div>
                        </div>         
                    </div>
                    <div class="right-container">
                        <div class="summary">
                            <a [routerLink]="['/implementation', implementation.id, implementation.name]">{{implementation.name}}</a>
                        </div>
                        <div class="categories">
                            <div class="category" *ngFor="let category of implementation.categories">
                                {{category.name}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</div>

