<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

    <div>
        <mat-form-field>
            <mat-label for="emailAddress">Email Address</mat-label>
            <input matInput id="emailAddress" [formControl]="loginForm.controls.emailAddress">
            <mat-error *ngIf="loginForm.controls.emailAddress.hasError('email') && !loginForm.controls.emailAddress.hasError('requred')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.controls.emailAddress.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <button mat-stroked-button type="submit" [disabled]="loginForm.invalid">Login</button>
        <mat-error *ngIf="loginFailed">
            Invalid email address
        </mat-error>
    </div>
</form>