<form (ngSubmit)="login(loginForm)" style="margin:.84375em">
    
    <div>
        <mat-form-field appearance="fill">
            <mat-label for="emailAddress">Email Address</mat-label>
            <input matInput required [formControl]="loginForm.controls.emailAddress">
            <mat-error *ngIf="loginForm.controls.emailAddress.hasError('email') && !loginForm.controls.emailAddress.hasError('requred')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.controls.emailAddress.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
        
    <div>
        <button mat-flat-button color="primary" type="submit">Login</button>
        <button mat-stroked-button type="button" (click)="createAccount(loginForm)">Create Account</button>
        <mat-error *ngIf="loginFailed">
            Invalid email address
        </mat-error>
        <mat-error *ngIf="createAccountFailed">
            Email address already exists
        </mat-error>
    </div>

</form>

