:host {
    --card-block-button-width: 25px;
    --card-block-height: 100px;
    --card-block-width: 200px;
    --card-background: hsl(198, 0%, 91%);
    --card-text-color: hsl(198, 100%, 32%);
    --card-block-margin-width: 2px;
}

.card {
    background-color: var(--card-background);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.card-header {
    background-color: inherit;
    border: none;
    color: var(--card-text-color);
    display: block;
    font-weight: normal;
    text-decoration: inherit;
}

.card-header:hover {
    font-weight: bolder;
    /* color: black; */
}

.card-block-container {
    background-color: inherit;
    margin-left: var(--card-block-button-width);
    margin-right: var(--card-block-button-width);
    overflow: hidden;
    white-space: nowrap;
}

.card-block {
    background-color: hsl(198, 0%, 100%);
    margin: 0px var(--card-block-margin-width);
    color: var(--card-text-color);
    display: inline-grid;
    height: auto;
    min-height: var(--card-block-height);
    max-height: var(--card-block-height);
    min-width: var(--card-block-width);
    max-width: var(--card-block-width);
    text-align: center;
    text-decoration: inherit;
    white-space: normal;
    width: auto;
}

.card-block:hover {
    background-color: var(--card-text-color);
    color: white;
}

.card-title {
    color: inherit;
    font-weight: normal;
}

.card-block-button-container {
    background-color: var(--card-background);
    position: absolute;
    z-index: 1;
}

.left-card-block-button-container {
    left: 0;
    padding-right: calc(var(--card-block-margin-width) * 2);
}

.right-card-block-button-container {
    padding-left: calc(var(--card-block-margin-width) * 2);
    right: 0;
}

.card-block-button {
    border: 1px solid var(--card-text-color);
    border-radius: 0;
    color: var(--card-text-color);
    cursor: pointer;
    height: var(--card-block-height);
    margin: 0;
    min-width: var(--card-block-button-width);
    padding: 0;
    width: var(--card-block-button-width);
}

.card-block-button:hover {
    background-color: var(--card-text-color);
    border: 1px solid var(--card-text-color);
    color: white;
}

button {
    outline: 0;
}