<form [formGroup]="ideaForm" (ngSubmit)="onSubmit(ideaForm)">

    <div>
        <mat-form-field>
            <mat-label for="summary">Summary</mat-label>
            <input matInput id="summary" [formControl]="ideaForm.controls.summary">
            <mat-error *ngIf="ideaForm.controls.summary.hasError('required')">
                Summary is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label for="description">Description</mat-label>
            <textarea cdkTextareaAutosize matInput id="description" [formControl]="ideaForm.controls.description"></textarea>
        </mat-form-field>
    </div>

    <button mat-stroked-button type="submit" [disabled]="ideaForm.invalid">Add Idea</button>
</form>
