<form [formGroup]="implementationForm" (ngSubmit)="addImplementation(implementationForm.value)">
    <div>
        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" [formControl]="implementationForm.controls.name">
            <mat-error *ngIf="implementationForm.controls.name.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="source">URL</mat-label>
            <input matInput id="source" [formControl]="implementationForm.controls.source">
        </mat-form-field>
    </div>
    <button  mat-stroked-button type="submit">New Implementation</button>
</form>