<div class="container">
    <div class="row">
        <div class="col">
            <div class="float-right" style="margin-top:15px;margin-bottom:15px">
                <button class="btn btn-primary" type="button" routerLink="/new-idea">New Idea</button>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let idea of ideas">
            <div class="left-container">
                <div class="votes">
                    <div>
                        Votes
                    </div>
                    <div>
                        {{idea.votes}}
                    </div>
                </div>         
            </div>
            <div class="right-container">
                <div class="summary">
                    <a routerLink="/idea/{{idea.summary}}">{{idea.summary}}</a>
                </div>
                <div class="categories">
                    <div class="category" *ngFor="let category of idea.categories">
                        {{category.name}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

