<form (ngSubmit)="onSubmit(ideaForm.value)" style="margin:.84375em">

    <div>
        <mat-form-field appearance="fill">
            <mat-label for="summary">Summary</mat-label>
            <input matInput required [formControl]="ideaForm.controls.summary">
            <mat-error *ngIf="ideaForm.controls.summary.hasError('required')">
                Summary is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label for="description">Description</mat-label>
            <textarea cdkTextareaAutosize matInput [formControl]="ideaForm.controls.description"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label for="categories">Categories</mat-label>
            <mat-select required [formControl]="ideaForm.controls.categories" multiple>
                <mat-option *ngFor="let category of categoryOptions" [value]="category">{{category.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="ideaForm.controls.categories.hasError('required')">
                At least 1 category is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <form (ngSubmit)="addCategory(categoryForm.value)">
        <mat-form-field>
            <mat-label for="otherCategory">Other Category</mat-label>
            <input matInput [formControl]="categoryForm.controls.name">
        </mat-form-field>
        <button mat-mini-fab color="primary" type="submit" [disabled]="categoryForm.invalid">
            <mat-icon>add</mat-icon>
        </button>
    </form>

    <button mat-raised-button color="primary" type="submit">New Idea</button>
</form>
