<div class="container">
    <div class="row">
        <div class="col">
            {{innovator.displayName}}
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let implementation of innovator.implementations">
            <div class="left-container">
                <div class="votes">
                    <div>
                        Votes
                    </div>
                    <div>
                        {{implementation.votes}}
                    </div>
                </div>         
            </div>
            <div class="right-container">
                <div class="summary">
                    <a routerLink="/implementation/{{implementation.name}}">{{implementation.name}}</a>
                </div>
                <div class="categories">
                    <div class="category" *ngFor="let category of implementation.categories">
                        {{category.name}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- <mat-tab-group [animationDuration]="0">
    <mat-tab label="Ideas">
        <mat-nav-list>
            <a mat-list-item *ngFor="let idea of innovator.ideas" routerLink="/idea/{{idea.summary}}">
                {{idea.summary}}
            </a>
        </mat-nav-list>
    </mat-tab>
    <mat-tab label="implementations">
        <mat-nav-list>
            <a mat-list-item *ngFor="let implementation of innovator.implementations" routerLink="/implementation/{{implementation.name}}">
                {{implementation.name}}
            </a>
        </mat-nav-list>
    </mat-tab>
</mat-tab-group> -->
