<mat-toolbar>
    <mat-toolbar-row>
        <a routerLink="/Ideas">
            <img src="assets/bree-serif-dark.png" style="height:inherit">
        </a>
        <span class="content-type">{{contentType}}</span>
        <span style="flex:auto"></span>
        <span>
            <button mat-flat-button color="primary">
                <a routerLink="/New Idea">New Idea</a>
            </button>
            <button mat-button style="color:white" [matMenuTriggerFor]="toolbarMenu">
                Menu
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="equalityContent" class="equality-content">
        {{equalityContent}}
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #toolbarMenu="matMenu">
    <button *ngIf="!(authenticationService.innovator | async)" mat-menu-item (click)="login()">
        Login
    </button>
    <button *ngIf="authenticationService.innovator | async" mat-menu-item (click)="logout()">
        Logout
    </button>
</mat-menu>

<router-outlet></router-outlet>