button {
    outline: 0;
}

a {
    color: inherit;
    height: inherit;
    outline: 0;
    text-decoration: inherit;
}

a:hover {
    opacity: 1;
}

mat-toolbar-row {
    background-color: #555;
    color: white;
    font-family: 'Bree Serif', serif;
    overflow: hidden;
}

.content-type {
    font-size: 54px;
    height: 100%;
    line-height: 61px;
}

.equality-content {
    font-size: 27px;
    height: 32px;
    line-height: 31px;
}

@media (max-width: 599px) {
    .content-type {
        font-size: 48px;
        line-height: 52px;
    }

    .equality-content {
        font-size: 24px;
        line-height: 26px;
    }
}