<div style="position:sticky;top:0;z-index:100">
    <mat-toolbar>
        <span>
            <button mat-stroked-button routerLink="/ideas">Ideas</button>
            <button mat-stroked-button routerLink="/addIdea">Add Idea</button>
        </span>
        <span>
            <button *ngIf="!loggedIn" mat-stroked-button (click)="logIn()">Login</button>
            <button *ngIf="loggedIn" mat-stroked-button (click)="logOut()">Logout</button>
        </span>
    </mat-toolbar>
    
    <app-login *ngIf="displayLogin" (loggedIn)="logIn()"></app-login>
</div>
<router-outlet></router-outlet>