<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <a routerLink="/Implementations">
            <img src="assets/bree-serif-dark.ico" width="30" height="30">
        </a>
    </div>
    <button *ngIf="!(authenticationService.innovator | async)" class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/Log In">
        Log in
    </button>
    <button *ngIf="authenticationService.innovator | async"  class="btn btn-secondary my-2 my-sm-0" type="button" (click)="logOut()">
        Log out
    </button>
</nav>
<router-outlet></router-outlet>
