<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="/">
        <img src="assets/bree-serif-dark.ico" width="30" height="30">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/ideas']">Ideas</a>
            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/implementations']">Implementations</a>
        </div>

        <form class="form-inline" (ngSubmit)="onSearch()">
            <input class="form-control" type="search" [formControl]="searchForm.controls.search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>

        <ul class="nav navbar-nav ml-auto">
            <div *ngIf="!(innovatorService.innovator$ | async)">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/log-in']">
                    Log In</a>
                </li>
            </div>
            <div *ngIf="innovatorService.innovator$ | async">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledBy="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/innovator', (innovatorService.innovator$ | async).id, (innovatorService.innovator$ | async).displayName]">Profile</a>
                        <a class="dropdown-item" [routerLink]="['/account']">Account</a>
                        <a class="dropdown-item" (click)="logOut()">Log out</a>
                    </div>
                </li>
            </div>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>
