<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/implementations">
        <img src="assets/bree-serif-dark.ico" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div *ngIf="!(innovatorService.innovator$ | async)">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/log-in">
                    Log In</a>
                </li>
            </div>
            <div *ngIf="innovatorService.innovator$ | async">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledBy="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/innovator/{{(innovatorService.innovator$ | async).id}}">Profile</a>
                        <a class="dropdown-item" routerLink="/innovator/{{(innovatorService.innovator$ | async).id}}">Account</a>
                        <a class="dropdown-item" (click)="logOut()">Log out</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
