<mat-card>
    <mat-card-header>
        <mat-card-title>{{idea.summary}}</mat-card-title>
        <mat-card-subtitle routerLink="/innovator/{{idea.innovator.emailAddress}}">{{idea.innovator.emailAddress}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{idea.description}}
    </mat-card-content>
    <mat-card-actions>
        Implementations:
        <div *ngFor="let implementation of idea.implementations">
            <button mat-stroked-button routerLink="/implementation/{{implementation.name}}">{{implementation.name}}</button>
        </div>
        <div *ngIf="!deleteDisabled">
            <button mat-stroked-button type="button" (click)="delete()">Delete Idea</button>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-accordion>
            <mat-expansion-panel [disabled]="addImplementationDisabled">
                <mat-expansion-panel-header>
                    Add Implementation
                </mat-expansion-panel-header>
                <app-add-implementation></app-add-implementation>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-footer>
</mat-card>
