<!-- <mat-tab-group [animationDuration]="0" [selectedIndex]="selectedIndex" (selectedTabChange)="onSelectedTabChange($event)">

    <mat-tab [label]="tabLabels[0]">
        <p>
            {{idea.description}}
        </p>
        <button mat-raised-button type="submit" routerLink="/edit-idea/{{idea.summary}}">Edit Idea</button>
    </mat-tab>

    <mat-tab [label]="tabLabels[1]">
        <mat-nav-list>
            <a mat-list-item *ngFor="let implementation of idea.implementations" routerLink="/implementation/{{implementation.name}}">
                {{implementation.name}}
            </a>
        </mat-nav-list>
        <mat-accordion>
            <mat-expansion-panel [disabled]="!(innovatorService.innovator$ | async)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        New Implementation
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>

    <mat-tab [label]="tabLabels[2]">
        <mat-nav-list>
            <a mat-list-item routerLink="/innovator/{{idea.innovator.emailAddress}}">{{idea.innovator.emailAddress}}</a>
        </mat-nav-list>
    </mat-tab>

    <mat-tab [label]="tabLabels[3]">
        <div *ngFor="let recommendation of idea.recommendations">
            {{recommendation.message}}<br>
            {{recommendation.dateTimeCreated.toLocaleString()}}
        </div>
        <form (ngSubmit)="addRecommendation(recommendationForm.value)">
            <div>
                <mat-form-field appearance="fill">
                    <textarea cdkTextareaAutosize matInput required [formControl]="recommendationForm.controls.message"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit">Add Recommendation</button>
        </form>

    </mat-tab>

</mat-tab-group> -->
